.artist-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    background-size: cover;
}

.artist-image:hover {
    cursor: pointer;
}

.artist-image.selected {
    -webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
 
	-webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}

.album-cover {
    width: 300px;
    height: 300px;
    display: inline-block;
    background-size: cover;
}
.album-cover:hover {
    cursor: pointer;
}
